{% extends "base.html" %}
{% block title %}Admin Dashboard{% endblock %}

{% block extra_head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'users/css/adminDashboardStyles.css' %}">
{% endblock %}

<!--Administrator sidebar-->
{% block nav %}
<nav
    class="flex flex-col gap-2 px-0 py-5 h-screen bg-gray-800 w-[300px] max-md:w-[250px] max-sm:p-2.5 max-sm:w-full max-sm:h-auto"
    id="sidebar"
>
    <ul class="w-full">
        <li>
          <a
            href="#"
            class="flex gap-4 items-center px-6 py-3 cursor-pointer duration-[0.2s] transition-[background-color] hover:bg-gray-700 max-md:px-5 max-md:py-2.5 max-sm:px-4 max-sm:py-3"
            data-nav-item
          >
            <i class="ti ti-home text-2xl text-white"></i>
            <span class="text-base font-medium text-white max-md:text-sm"
              >Admin Dashboard</span
            >
          </a>
        </li>
        <li>
          <a
            href="#"
            class="flex gap-4 items-center px-6 py-3 cursor-pointer duration-[0.2s] transition-[background-color] hover:bg-gray-700 max-md:px-5 max-md:py-2.5 max-sm:px-4 max-sm:py-3"
            data-nav-item
          >
            <i class="ti ti-book text-2xl text-white"></i>
            <span class="text-base font-medium text-white max-md:text-sm"
              >Your Classes</span
            >
          </a>
        </li>
        <li>
          <a
            href="#"
            class="flex gap-4 items-center px-6 py-3 cursor-pointer duration-[0.2s] transition-[background-color] hover:bg-gray-700 max-md:px-5 max-md:py-2.5 max-sm:px-4 max-sm:py-3"
            data-nav-item
          >
            <i class="ti ti-layout-grid text-2xl text-white"></i>
            <span class="text-base font-medium text-white max-md:text-sm"
              >Your Sections</span
            >
          </a>
        </li>
        <li>
          <a
            href="#"
            class="flex gap-4 items-center px-6 py-3 cursor-pointer duration-[0.2s] transition-[background-color] hover:bg-gray-700 max-md:px-5 max-md:py-2.5 max-sm:px-4 max-sm:py-3"
            data-nav-item
          >
            <i class="ti ti-users text-2xl text-white"></i>
            <span class="text-base font-medium text-white max-md:text-sm"
              >Manage Teams</span
            >
          </a>
        </li>
        <li>
          <a
            href="#"
            class="flex gap-4 items-center px-6 py-3 cursor-pointer duration-[0.2s] transition-[background-color] hover:bg-gray-700 max-md:px-5 max-md:py-2.5 max-sm:px-4 max-sm:py-3"
            data-nav-item
          >
            <i class="ti ti-list text-2xl text-white"></i>
            <span class="text-base font-medium text-white max-md:text-sm"
              >Manage Forms</span
            >
          </a>
        </li>
        <li>
          <a
            href="#"
            class="flex gap-4 items-center px-6 py-3 cursor-pointer duration-[0.2s] transition-[background-color] hover:bg-gray-700 max-md:px-5 max-md:py-2.5 max-sm:px-4 max-sm:py-3"
            data-nav-item
          >
            <i class="ti ti-plus text-2xl text-white"></i>
            <span class="text-base font-medium text-white max-md:text-sm"
              >Create Form</span
            >
          </a>
        </li>
        <li>
          <a
            href="#"
            class="flex gap-4 items-center px-6 py-3 cursor-pointer duration-[0.2s] transition-[background-color] hover:bg-gray-700 max-md:px-5 max-md:py-2.5 max-sm:px-4 max-sm:py-3"
            data-nav-item
          >
            <i class="ti ti-chart-dots text-2xl text-white"></i>
            <span class="text-base font-medium text-white max-md:text-sm"
              >View/Evaluate Responses</span
            >
          </a>
        </li>
        <li>
          <a
            href="#"
            class="flex gap-4 items-center px-6 py-3 cursor-pointer duration-[0.2s] transition-[background-color] hover:bg-gray-700 max-md:px-5 max-md:py-2.5 max-sm:px-4 max-sm:py-3"
            data-nav-item
          >
            <i class="ti ti-mail text-2xl text-white"></i>
            <span class="text-base font-medium text-white max-md:text-sm"
              >Manage Reminders</span
            >
          </a>
        </li>
    </ul>
</nav>
{% endblock %}


{% block content %}
<div class="dashboard-container">
    <h2>Hello <strong>Administrator</strong> {{ username }}, your current classes are:</h2>

    <div class="card-container">
        {% for class in classes %}
        <div class="class-card"> 
            <span class="class-tag">{{ class.code }}</span>
            <span class="class-name">{{ class.name }}</span>
            <span class="class-tag">{{ class.term }}</span>
        </div>
        {% endfor %}
    </div>
    
    <div class="form-section"> 
        <h2 style="font-size:15px">Your Forms:</h2>
        <h2 style="font-size:12px">Sort By: Deadline</h2>
    </div>

    <div class="form-container"> 
        <div class="forms">
            <h3>Name</h3>
            {% for form in forms %}
            <p>{{ form.name }}</p>
            {% endfor %}
        </div>

        <div class="forms">
            <h3>Class</h3>
            {% for form in forms %}
            <p>{{ form.class }}</p>
            {% endfor %}
        </div>

        <div class="forms">
            <h3>Students Submitted</h3>
            {% for form in forms %}
            <p style="color:{% if form.submitted == form.total %}#34A853{% else %}#E42D2D{% endif %}">
                {{ form.submitted }}/{{ form.total }}
            </p>
            {% endfor %}
        </div>

        <div class="forms">
            <h3>Due Date</h3>
            {% for form in forms %}
            <p>{{ form.due_date }}</p>
            {% endfor %}
        </div>
    </div>

    <div class="logout">
        <a href="{% url 'logout' %}">
            <button type="button" class="logout-button">Logout</button>
        </a>
    </div>
</div>
{% endblock %}